<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!--    페이지 로딩 속도를 위해 css는 header, js는 footer에 두기. -->
<!--    html실행순서는 위에서 부터 아래로,head가 실행되고 body가 실행되기 때문에. -->
</head>
<body>